# Dependencies
node_modules
npm-debug.log

# Files system
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# Git
.git
.github
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Other files
README.md
CHANGELOG.md
img/